<div class="heading-intakeForms">
  <h2>Intake Forms</h2>
  <p>Please select the type of counseling you wish to pursue. You may save the form <br /> and return to it at a later for up to 30 days. A new account setup and intake form<br />  is required for each adult wanting to come in for counseling.</p>
</div>
<ul class="list-box">
  <li onclick="window.location.href = '/client/individuals/new?intake_type=individual';"><div>Individual</div><div class="list-box-hover">Adult individual counseling, 18 years and older.</div></li>
  <li onclick="window.location.href = '/client/partners/new?intake_type=dating';"><div>Dating<br />&amp;<br />Pre-Marital</div><div class="list-box-hover">Counseling and/or assessments for dating and engaged couples</div></li>
  <li onclick="window.location.href = '/client/partners/new?intake_type=marriage';"><div>Marriage</div><div class="list-box-hover">Counseling for married and long-term couples</div></li>
  <li onclick="window.location.href = '/client/partners/partners_family?intake_type=family';"><div>Family<br />&amp;<br />Friends</div><div class="list-box-hover">Counseling for families, two or more people.</div></li>
  <li onclick="window.location.href = '/client/minors/new?intake_type=minor';"><div>Minor</div><div class="list-box-hover">For children and adolescents, under 18 years of age. (Completed by guardian)</div></li>
  <li onclick="window.location.href = '/client/renewal_groups';"><div>Renewal<br />Group</div><div class="list-box-hover">Group counseling on specific topics</div></li>
  <li onclick="window.location.href = '/client/financials/new?intake_type=financial';"><div>Financial</div><div class="list-box-hover">Becoming better stewards through budgeting, debt reduction and more.</div></li>
  <li onclick="window.location.href = '/client/career_assessments/new?intake_type=career_assessment';"><div>Career<br />Assessment</div><div class="list-box-hover">Exploring interests and personality in career paths</div></li>
  <li onclick="window.location.href = '/client/reduced_fees/new';"><div><span>Application For</span><br />Reduced Fee</div><div class="list-box-hover">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></li>
</ul>
<div class="clearFix"></div>