<%= form_for @reminder ,:url => reminders_path(current_user.role,@reminder),:remote => true do |f| %>
  <%= f.hidden_field :client_id,:value => @client.id if @client %>
  <%= f.hidden_field :case_id,:value => @case.id if @case %>
  <div class="addRemindersContent">
    <div id="addCloseBox1">Close</div>
    <%= f.text_area :description,:rows => 4,:cols => 20,:style => "width:244px;" %>
    <input id="resetPasswordClose" type="submit" title="Submit" value="Submit" />
  </div>
<% end %>