<% if current_user %>
  <h2 id="home_index">WelCome</h2>
<% else %>
  <div class="getStarted"><a href="/users/sign_up" class="link-getStarted">Get Started<em></em></a></div>
  <div class="counselingService">
    <h3>Welcome to Redeemer Counseling Services.</h3>
    <p>We are so glad you  are here. Our goal is for this to be<br /> a safe place to find help, hope and healing.</p>
    <p>There is a simple 3-step process to get started. Simply<br /> fill out the intake forms, our scheduler will contact<br /> you to determine placement, and finally you will be <br />placed with your counselor.</p>
  </div>
  <ul class="list-steps list-createAccount">
    <li class="step-1 active" style="cursor:pointer;" onclick="window.location.href = '/users/sign_up'">
      <span>1</span>
      <p>ACCOUNT SETUP</p>
    </li>
    <li class="step-2">
      <span>2</span>
      <p>INTAKE FORM</p>
    </li>
    <li class="step-3">
      <span>3</span>
      <p>Scheduling Process</p>
    </li>
  </ul>
<% end %>