<div class="staffrow">
  <div>Name<em>*</em></div>
  <div>
    <ul class="list-name">
      <li><%= text_field_tag "partners[][name]" %></li>
    </ul>
  </div>			
</div>
<div class="staffrow">
  <div>Dob<em>*</em></div>
  <div>
    <ul class="list-name">
      <li>
       <%= date_select 'partners[][date_of_birth]', "", {:include_blank => true, :default => nil,:start_year => 1930} %>
      </li>
    </ul>
  </div>			
</div>
<div class="staffrow">
  <div>Email<em>*</em>:</div>
  <div><%= text_field_tag "partners[][email]" %></div>
</div>
<div class="clearFix"></div>