<div style="float:right;padding-top: 18px;">
  <table>
    <tr>
      <td></td>
      <td><p><%= f.text_field :previous_hospital %></p></td>
    </tr>
    <tr>
      <td></td>
      <td> 
       <%= f.date_select :previous_hospital_date, {:include_blank => true, :default => nil,:start_year => 1930} %>
      </td>
    </tr>
  </table>
</div>
