<div id="invoice_form">
  <%= form_for @invoice ,:url =>counselor_invoices_path(:role => current_user.role,:invoice =>@invoice),:method => 'POST',:remote => true do |f|%>
    <%= render :partial => 'counselor/invoices/common',:locals => {:f => f} %>
  <% end %>
</div>