<table class="table-roomavailability" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tr>
    <td style="background: #E6E7E8;border-top:1px solid #FFFFFF;border-left:none;"><%= f.text_field :medician,:class => "input-name" %></td>
    <td style="background: #E6E7E8;border-left: 1px solid #FFFFFF;"><%= f.text_field :dosage,:class => "input-name" %></td>
  </tr>
</table>