<!--<div id="calendar"></div>
<script>
  $(document).ready(function() {
    var url = window.location.pathname;
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      events: [
        // events here
      ],
      editable: false,
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      minTime: 8,
      maxTime: 23,
      defaultView: 'month',
      height: 500,
      slotMinutes: 15,
      loading: function(bool) {
        if (bool)
          $('#loading').show();
        else
          $('#loading').hide();
      },
      // a future calendar might have many sources.
      eventSources: [{
          url: url,
//            color: 'yellow',
//            textColor: 'black',
          ignoreTimezone: false
        }],
      timeFormat: "h:mm tt{ - h:mm tt} ",
      dragOpacity: "0.5"
    });

  });
</script>-->

<div class="calendarCollExp" id="calendar_intake">						
  <%= render :partial => "next_calendar" %>		
</div>
<div class="clearFix"></div>